<!DOCTYPE html>
<html id="top">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>HTML Examples Boilerplate</title>
    <link id="styles-link" rel="stylesheet" href="https://tableau-mkt.github.io/components/build/css/style.min.css" media="all" />
    <!-- A few custom styles for layout -->
    <style>
      .sidenav {
        position:fixed;
        top: 0;
        width: 15%;
        height: 100vh;
        overflow: auto;
        padding: 0 1em;
        border-right: 1px solid #ddd;
      }
      .main-content {
        margin-left: 15%;
        padding: 0 2em 0 4em;
        max-width: 1200px;
      }
      .section-wrapper {
        margin-top: 2em;
        border-top: 1px solid #ddd;
      }
      .example-wrapper {
        padding-left:2em;
        margin: 2em 0;
        border-left: 1px solid #ddd;
      }
    </style>
  </head>
  <body>
    <div class="sidenav">
      <h5><a href="#top">Return to top ⬆︎</a></h5>
      {% for section in sections %}
        <h5><a href="#{{ section.title|url_encode }}">{{ section.title|e }}</a></h5>
        <ul>
          {% for example in section.examples %}
            <li><a href="#{{ example.title|url_encode }}">{{ example.title|e }}</a></li>
          {% endfor %}
        </ul>
      {% endfor %}
    </div>

    <div class="main-content">
      <h1>HTML Elements Boilerplate</h1>
      <p>
        This page is meant to demonstrate styling of base-level HTML elements. It is a tool to help make brand-consistent styling at a very base level. The examples and descriptions on this page are pulled from <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element" target="_blank">MDN Web Docs</a>. The list excludes elements that don't require any inherent styles such as <code>&lt;div&gt;</code> and <code>&lt;span&gt;</code> as well as deprecated and very edge-case elements.
      </p>
      <form id="css-selector">
        <label for="styleguides">Select a style guide</label>
        <select id="styleguides">
          <!-- {% for styleguide in data.styleguides %}
            <option selected value="{{ styleguide.url }}">{{ styleguide.name }}</option>
          {% endfor %} -->
          <option selected value="https://tableau-mkt.github.io/components/build/css/style.min.css">Tableau Web Style Guide</option>
          <option value="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">Bootstrap 4</option>
          <option value="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation.min.css">Zurb Foundation</option>
          <option value="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.5/css/uikit.min.css">UIKit</option>
        </select>
      </form>
      {% for section in sections %}
        <a id="{{ section.title|url_encode }}"></a>
        <div class="section-wrapper">
          <h2>{{ section.title|e }}</h2>
          <p>{{ section.description|e }}</p>
          {% for example in section.examples %}
            {% include 'example.twig' with example %}
          {% endfor %}
        </div>
      {% endfor %}
    </div>

    <!-- Handle swapping stylesheets -->
    <script>
      document.getElementById('styleguides').addEventListener('change', function() {
        document.getElementById('styles-link').href = this.value;
      });
    </script>
  </body>
</html>
